@page "/krei"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<h2>Aldoni novan vorton</h2>

<p>
    Kreu
    <select @bind="@Vortspeco">
        <option>bazvorton</option>
        <option>kunmeta警on</option>
    </select>
</p>

@if(Vortspeco == "bazvorton")
{
    <input @bind="@teksto"/>
}
else if(Vortspeco == "kunmeta警on")
{
    @foreach(var v in bazvortoj)
    {
        <i>@v.Teksto/</i><button @onclick="_=>bazvortoj.Remove(v)">x</button>
    }
}
<select @bind="@fina警o">
    @if(fina警oj is not null)
    {    
        @foreach (var f in fina警oj)
        {
            <option value="@f?.Id">@(f?.Teksto! ?? "Neniu")</option>
        }
    }
</select>
<button @onclick="AldonuVorton">Krei</button>

@if(Vortspeco == "kunmeta警on")
{
    <h3>Aldoni Bazvortojn</h3>
    <div>
        <input @oninput="@(a=>Seri(a.Value!.ToString()!))" />
        <ul>
            @foreach (var vorto in bazvortElektoj?.OrderBy(v=>v.Teksto).ToList() ?? new())
            {
                <li><button @onclick="_=>bazvortoj.Add(vorto)">+</button> @vorto.Teksto<NavLink href=@($"/vorto/{vorto.Id}")>◇</NavLink></li>
            }
        </ul>
    </div>
}
