@page "/krei"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<div class="pa-4">
    <h2>Aldoni novan vorton</h2>

    <MudSelect @bind-Value="@Vortspeco" Label="Krei" Variant=Variant.Outlined>
        <MudSelectItem Value="@("bazvorton")" />
        <MudSelectItem Value="@("kunmetaĵon")"/>
    </MudSelect>

    <MudStack Row=true class="pa-2">

        @if(Vortspeco == "bazvorton")
        {
            <MudTextField @bind-Value="@teksto" Label="Radiko"/>
        }
        else if(Vortspeco == "kunmetaĵon")
        {
            @foreach(var v in bazvortoj)
            {
                <MudChip Color="Color.Default" OnClose="_=>bazvortoj.Remove(v)">@v.Teksto</MudChip>
            }
        }
        @if(finaĵo is null)
        {
            <MudSelect @bind-Value="@finaĵo" Label="Finaĵo">
                @if(finaĵoj is not null)
                {   
                    @foreach (var f in finaĵoj)
                    {
                        <MudSelectItem Value="@f?.Id">@(f?.Teksto! ?? "Neniu")</MudSelectItem>
                    }
                }
            </MudSelect>
        }
        else
        {
            <MudChip Color="Color.Default" OnClose="_=>finaĵo = null">@finaĵoj!.Single(f=>f?.Id == finaĵo)!.Teksto</MudChip>
        }

        <MudButton OnClick="AldonuVorton" EndIcon=@Icons.Filled.Send>Krei</MudButton>
    </MudStack>
    @if(Vortspeco == "kunmetaĵon")
    {
        <h3 class="pt-4">Aldonu Bazvortojn</h3>
        <div>
            <MudTextField Label="Serĉu Radikon" ValueChanged="@(s=>Serĉi(s))" Value=@serĉfrazo T=string Immediate />

            <MudExpansionPanels>
                @foreach (var vorto in bazvortElektoj?.OrderBy(v=>v.Teksto == serĉfrazo ? string.Empty : v.Teksto).ToList() ?? new())
                {
                    <MudExpansionPanel>
                        <TitleContent>
                            <MudIconButton OnClick="_=>bazvortoj.Add(vorto)" Icon=@Icons.Filled.Add/>
                            @vorto.Teksto
                            <MudIconButton Href=@($"/vorto/{vorto.Id}") Icon=@Icons.Filled.ReadMore/>
                        </TitleContent>
                        <ChildContent>
                            <VortoDetail Id=vorto.Id/>
                        </ChildContent>
                    </MudExpansionPanel>
                }
            </MudExpansionPanels>
        </div>
    }
</div>
