@page "/serĉi/{serĉtipo}/{serĉfrazo?}"

<MudGrid Style="width: 100%">
    <MudItem Class="z-30" md=4 sm=12 xs=12 Style="height: 100%; position: sticky; top: var(--mud-appbar-height); background: var(--mud-palette-background)">
        <div class="pa-4" style="position: sticky; top: var(--mud-appbar-height); background: var(--mud-palette-background)">            
            <MudHidden Breakpoint="Breakpoint.SmAndDown" Invert=true>
                <MudTextField FullWidth=false 
                                Label="Tajpu serĉfrazon" 
                                T=string 
                                Value="@Uri.UnescapeDataString(Serĉfrazo)" 
                                ValueChanged="@TraktiFrazoŜanĝo" 
                                Immediate=true 
                                Variant="Variant.Outlined"
                                Adornment=@Adornment.End
                                AdornmentIcon=@Icons.Filled.Settings
                                OnAdornmentClick=@MalfermiAgordojn/>
            </MudHidden>
            <MudHidden Breakpoint="Breakpoint.SmAndDown" >
                <MudTextField FullWidth=false 
                                Label="Tajpu serĉfrazon" 
                                T=string 
                                Value="@Uri.UnescapeDataString(Serĉfrazo)" 
                                ValueChanged="@TraktiFrazoŜanĝo" 
                                Immediate=true 
                                Variant="Variant.Outlined"/>
                <MudCheckBox @bind-Checked=@montriĈiujn Label="montri ĉiujn, eĉ tiujn sen enhavoj"/>
                <MudStack Spacing=1>
                    <MudField Label="Serĉi" Variant=@Variant.Outlined>
                            
                        <MudSelect Value="@serĉtipo" ValueChanged="@TraktiTipoŜanĝo" T=string AnchorOrigin="Origin.BottomCenter">
                            <MudSelectItem Value=@("vorto")>vortojn</MudSelectItem>
                            <MudSelectItem Value=@("difino")>difinojn</MudSelectItem>
                            <MudSelectItem Value=@("ekzemplo")>ekzemplojn</MudSelectItem>
                            <MudSelectItem Value=@("traduko")>tradukojn</MudSelectItem>
                        </MudSelect>
                    </MudField>
                    <MudField Label="Trovi" Variant=@Variant.Outlined>
                        <MudCheckBox @bind-Checked=@ĈuMontriBazvortojn Label="bazvortojn"/>
                        <MudCheckBox @bind-Checked=@ĈuMontriFinaĵojn Label="finaĵojn"/>
                        <MudCheckBox @bind-Checked=@ĈuMontriKunmetaĵojn Label="kunmetaĵojn"/>
                    </MudField>
                    <MudField Label="Montri la plej ŝatata(j)n" Variant=@Variant.Outlined>                    
                        <MudCheckBox @bind-Checked=@ĈuMontriDifinojn Label="difinon"/>
                        <MudCheckBox @bind-Checked=@ĈuMontriEkzemplojn Label="ekzemplon"/>
                        <MudCheckBox @bind-Checked=@ĈuMontriTradukojn Label="tradukon"/>
                    </MudField>
                    <MudField Label="el fontoj" Variant=@Variant.Outlined>                        
                        <MudCheckBox @bind-Checked=@UzuOficialajnFontojn Label="oficialaj"/>
                        <MudCheckBox @bind-Checked=@UzuUzantulajnFontojn Label="uzantulaj"/>            
                    </MudField>
                </MudStack>
            </MudHidden>
            <MudProgressLinear Color="Color.Primary" Value="@ŝargitaj" Max=@tuto Class="my-7" Size=@Size.Large>
                <MudText Typo="Typo.caption" Style="color: var(--mud-palette-primary-text)">
                    @if(ŝargitaj < tuto)
                    {
                        @:Ŝarginte @(ŝargitaj)
                    }
                    else
                    {
                        @:@ŝargitaj @(ŝargitaj == 1 ? "rezulto" : "rezultoj") dum @(Math.Round(ŝargtempo.TotalMilliseconds/1000f,1)) @(Math.Round(ŝargtempo.TotalMilliseconds/1000f,1) == 1 ? "sekundo" : "sekundoj")
                    }
                </MudText>
            </MudProgressLinear>
        </div>
    </MudItem>
    <MudItem md=8 sm=12 xs=12>    
        <Ŝargo Elemento=@ŜargitajVortoj>
            @foreach(var vorto in ŜargitajVortoj!)
            {
                <MudCard Class="ma-4">
                    <MudCardHeader>
                        <CardHeaderContent>
                            <MudText Typo=Typo.h6>
                                @if(vorto.Teksto is not null || vorto.Radikoj.Any(r=>r.RadikaVorto is not null))
                                {
                                    @if(vorto.Teksto is not null)
                                    {
                                        @vorto.Teksto<sup style="top: -.75em;font-size: .5em" title=@(vorto.Fonto.Titolo ?? "Uzanto") @onclick="@(_=>{if(vorto.Fonto.Ligilo is not null) NavigationManager.NavigateTo(vorto.Fonto.Ligilo);})">@vorto.Fonto.Signo</sup>@vorto.Finaĵo?.Teksto?.ToString().Trim('-').First()
                                    }
                                    else
                                    {
                                        @foreach (var radiko in vorto.Radikoj)
                                        {
                                            @radiko.RadikaVorto.Teksto!.Trim('-')<sup style="top: -.75em;font-size: .5em" title=@(radiko.RadikaVorto.Fonto.Titolo ?? "Uzanto") @onclick="@(_=>{if(radiko.RadikaVorto.Fonto.Ligilo is not null) NavigationManager.NavigateTo(radiko.RadikaVorto.Fonto.Ligilo);})">@radiko.RadikaVorto.Fonto.Signo</sup>
                                        }
                                        @vorto.Finaĵo?.Teksto?.ToString().Trim('-').First()
                                    }
                                }
                            </MudText>
                        </CardHeaderContent>
                        <CardHeaderActions>
                            <MudIconButton Href=@($"/vorto/{vorto.Id}") Icon=@Icons.Filled.ReadMore/>
                        </CardHeaderActions>
                    </MudCardHeader>
                    <MudCardContent>
                        @if(ĈuMontriDifinojn!.Value) 
                        {
                            if(!vorto.Difinoj.Any())
                            {
                                <p><i style="color:grey">Tiu ĉi vorto ne havas difinon. <AuthorizeView>Bonvolu aldoni!</AuthorizeView></i></p>
                            }
                            else
                            {
                                <p>@((MarkupString)Markdig.Markdown.ToHtml(vorto.Difinoj[0].Teksto))</p>
                            }
                        }
                        @if(ĈuMontriEkzemplojn!.Value) 
                        {
                            if(!vorto.Ekzemploj.Any())
                            {
                                <p><i style="color:grey">Tiu ĉi vorto ne havas ekzemplon. <AuthorizeView>Bonvolu aldoni!</AuthorizeView></i></p>
                            }
                            else
                            {
                                <p>@((MarkupString)Markdig.Markdown.ToHtml(vorto.Ekzemploj[0].Teksto))</p>
                            }
                        }
                        @if(ĈuMontriTradukojn!.Value) 
                        {
                            if(!vorto.Tradukoj.Any())
                            {
                                <p><i style="color:grey">Tiu ĉi vorto ne havas tradukon en tiu ĉi lingvo. <AuthorizeView>Bonvolu aldoni!</AuthorizeView></i></p>
                            }
                            else
                            {
                                <p lang="@Lingvo">@((MarkupString)Markdig.Markdown.ToHtml(vorto.Tradukoj[0].Teksto))</p>
                            }
                        }
                    </MudCardContent>
                </MudCard>
            }
        </Ŝargo>
    </MudItem>
</MudGrid>

<MudScrollToTop>
    <MudFab Color=Color.Secondary Icon="@Icons.Filled.ArrowCircleUp" />
</MudScrollToTop>


<MudDialog @bind-IsVisible=ĉuAgordojMalfermitaj>
    <DialogContent>
        <MudCheckBox @bind-Checked=@montriĈiujn Label="montri ĉiujn, eĉ tiujn sen enhavoj"/>
        <MudStack Spacing=1>
            <MudField Label="Serĉi" Variant=@Variant.Outlined>                    
                <MudSelect Value="@serĉtipo" ValueChanged="@TraktiTipoŜanĝo" T=string AnchorOrigin="Origin.BottomCenter">
                    <MudSelectItem Value=@("vorto")>vortojn</MudSelectItem>
                    <MudSelectItem Value=@("difino")>difinojn</MudSelectItem>
                    <MudSelectItem Value=@("ekzemplo")>ekzemplojn</MudSelectItem>
                    <MudSelectItem Value=@("traduko")>tradukojn</MudSelectItem>
                </MudSelect>
            </MudField>
            <MudField Label="Trovi" Variant=@Variant.Outlined>
                <MudCheckBox @bind-Checked=@ĈuMontriBazvortojn Label="bazvortojn"/>
                <MudCheckBox @bind-Checked=@ĈuMontriFinaĵojn Label="finaĵojn"/>
                <MudCheckBox @bind-Checked=@ĈuMontriKunmetaĵojn Label="kunmetaĵojn"/>
            </MudField>
            <MudField Label="Montri la plej ŝatata(j)n" Variant=@Variant.Outlined>
                <MudCheckBox @bind-Checked=@ĈuMontriDifinojn Label="difinon"/>
                <MudCheckBox @bind-Checked=@ĈuMontriEkzemplojn Label="ekzemplon"/>
                <MudCheckBox @bind-Checked=@ĈuMontriTradukojn Label="tradukon"/>
            </MudField>
            <MudField Label="el fontoj" Variant=@Variant.Outlined>                        
                <MudCheckBox @bind-Checked=@UzuOficialajnFontojn Label="oficialaj"/>
                <MudCheckBox @bind-Checked=@UzuUzantulajnFontojn Label="uzantulaj"/>            
            </MudField>
        </MudStack>
    </DialogContent> 
</MudDialog>
