@page "/serĉi/{serĉtipo}/{serĉfrazo?}"

<PageTitle>Universala Vortaro Demokratia</PageTitle>

<div>
    <RadzenTextBox Placeholder="Tajpu serĉfrazon" Value="@Uri.UnescapeDataString(Serĉfrazo)" @oninput="@TraktiFrazoŜanĝo"/>
    <RadzenCheckBox  Name="ĉiuj" @bind-Value="@montriĈiujn" TValue=bool Change=ŜarĝiguVortojn/><RadzenLabel Component="ĉiuj" Text="montri ĉiujn, eĉ tiujn sen enhavoj"/>
    <span>
        <div>
            Serĉu
            <RadzenDropDown OpenOnFocus="true"
                            Multiple="true" 
                            Placeholder="Vortspecoj..." 
                            Data=@(new string[]{"bazvortojn", "finaĵojn", "kunmetaĵojn"}) 
                            @bind-Value=@TrovuStrings
                            SelectAllText="ĉiujn"/>
             tra ĉiu
            <RadzenDropDown OpenOnFocus="true"
                            Placeholder="Vortspeco..."
                            Data=@(new string[]{"vorto", "difino", "ekzemplo", "traduko"})
                            Value=@serĉtipo
                            ValueChanged=@TraktiTipoŜanĝo
                            TValue=string/>
            el fontoj
            <RadzenDropDown OpenOnFocus="true"
                            Multiple="true" 
                            Placeholder="Fontoj..." 
                            Data=@(new string[]{"oficialaj", "uzantaj"}) 
                            @bind-Value=@FontoStrings
                            SelectAllText="ĉiuj"/>  
        </div>
        <div>
            Montru la plej alta(j)n
            <input type="checkbox" id="difinoj" @bind="@ĈuMontriDifinojn"/><label for="difinoj">difinon</label>
            <input type="checkbox" id="ekzemploj" @bind="@ĈuMontriEkzemplojn"/><label for="ekzemploj">ekzemplon</label>
            <input type="checkbox" id="tradukoj" @bind="@ĈuMontriTradukojn"/><label for="tradukoj">tradukon</label>
            @if(ĈuMontriTradukojn!.Value)
            {
                <RadzenDropDown @bind-Value="@Lingvo"
                                TValue="string"
                                Data="@(lingvoj?.Where(l=>l.Id != "eo") ?? new List<Lingvo>())" 
                                ValueProperty="Id" 
                                TextProperty="Nomo"/>

            }
        </div>
        <div>        
        </div>
    </span>
</div>
@if(ŝarĝitaj != tuto)
{
    <div>
        <progress id="progress" value="@ŝarĝitaj" max="@tuto"/>
        <label for="progress">Ŝarĝinte @(ŝarĝitaj)</label>
    </div>
}
else
{
    <div>
        @ŝarĝitaj @(ŝarĝitaj > 1 ? "rezultoj" : "rezulto") dum @(Math.Round(ŝarĝtempo.TotalMilliseconds/1000f,1)) sekundoj
    </div>
}
<div>    
    @if(ŜarĝitajVortoj is not null)
    {
        foreach(var vorto in ŜarĝitajVortoj)
        {
            <RadzenCard>
                <h3>
                    @if(vorto.Teksto is not null || vorto.Radikoj.Any(r=>r.RadikaVorto is not null))
                    {
                        @if(vorto.Teksto is not null)
                        {
                            @vorto.Teksto<sup style="top: -.75em;font-size: .5em" title=@(vorto.Fonto.Titolo ?? "Uzanto") @onclick="@(_=>{if(vorto.Fonto.Ligilo is not null) NavigationManager.NavigateTo(vorto.Fonto.Ligilo);})">@vorto.Fonto.Signo</sup>@vorto.Finaĵo?.Teksto?.ToString().Trim('-').First()
                        }
                        else
                        {
                            @foreach (var radiko in vorto.Radikoj)
                            {
                                @radiko.RadikaVorto.Teksto!.Trim('-')<sup style="top: -.75em;font-size: .5em" title=@(radiko.RadikaVorto.Fonto.Titolo ?? "Uzanto") @onclick="@(_=>{if(radiko.RadikaVorto.Fonto.Ligilo is not null) NavigationManager.NavigateTo(radiko.RadikaVorto.Fonto.Ligilo);})">@radiko.RadikaVorto.Fonto.Signo</sup>
                            }
                            @vorto.Finaĵo?.Teksto?.ToString().Trim('-').First()
                        }
                    }
                    <NavLink href=@($"/vorto/{vorto.Id}")>🡺</NavLink>
                </h3>
                @if(ĈuMontriDifinojn!.Value) 
                {
                    if(!vorto.Difinoj.Any())
                    {
                        <p><i style="color:grey">Vorto ne havas difinon. <AuthorizeView>Bonvolu aldoni!</AuthorizeView></i></p>
                    }
                    else
                    {
                        <p>@((MarkupString)Markdig.Markdown.ToHtml(vorto.Difinoj[0].Teksto))</p>
                    }
                }
                @if(ĈuMontriEkzemplojn!.Value) 
                {
                    if(!vorto.Ekzemploj.Any())
                    {
                        <p><i style="color:grey">Vorto ne havas ekzemplon. <AuthorizeView>Bonvolu aldoni!</AuthorizeView></i></p>
                    }
                    else
                    {
                        <p>@((MarkupString)Markdig.Markdown.ToHtml(vorto.Ekzemploj[0].Teksto))</p>
                    }
                }
                @if(ĈuMontriTradukojn!.Value) 
                {
                    if(!vorto.Tradukoj.Any())
                    {
                        <p><i style="color:grey">Vorto ne havas tradukon en tiu ĉi lingvo. <AuthorizeView>Bonvolu aldoni!</AuthorizeView></i></p>
                    }
                    else
                    {
                        <p lang="@Lingvo">@((MarkupString)Markdig.Markdown.ToHtml(vorto.Tradukoj[0].Teksto))</p>
                    }
                }
            </RadzenCard>
        }
    }
    else
    {
        <p>Ŝarĝigas...</p>
    }
</div>
