@page "/vorto/{id:guid}"

<div class="pt-4">
    @if(vorto is null)
    {
        <p>Ŝarĝigas...</p>
    }
    else
    {
        if(NavigationManager.Uri.EndsWith($"/vorto/{Id}"))
        {
            <PageTitle>@vorto.ToString()</PageTitle>
        }
        <h1 class="pl-4">
            @if(vorto.Teksto is not null)
            {
                @vorto.Teksto<sup style="top: -.75em;font-size: .5em" title=@(vorto.Fonto.Titolo ?? "Uzanto") @onclick="@(_=>{if(vorto.Fonto.Ligilo is not null) NavigationManager.NavigateTo(vorto.Fonto.Ligilo);})">@vorto.Fonto.Signo</sup>@vorto.Finaĵo?.Teksto?.ToString().Trim('-').First()
            }
            else
            {
                @foreach (var radiko in vorto.Radikoj)
                {
                    @radiko.RadikaVorto.Teksto!.Trim('-')<sup style="top: -.75em;font-size: .5em" title=@(radiko.RadikaVorto.Fonto.Titolo ?? "Uzanto") @onclick="@(_=>{if(radiko.RadikaVorto.Fonto.Ligilo is not null) NavigationManager.NavigateTo(radiko.RadikaVorto.Fonto.Ligilo);})">@radiko.RadikaVorto.Fonto.Signo</sup>
                }
                @vorto.Finaĵo?.Teksto?.ToString().Trim('-').First()
            }
        </h1>
        <MudTabs PanelClass="pa-6" @ref=tabs ActivePanelIndexChanged="i=>ŜarĝiguNunanTabon(i)">
            <MudTabPanel Text="Informaĵo">
                <h4>Fonto</h4>
                <p>
                    @if(vorto.Fonto.ĈuUzantkreita)
                    {
                        <MudAvatar Image=@vorto.Fonto.Kreinto!.Bildo Size="Size.Medium"/> <i>@vorto.Fonto.Kreinto!.Nomo</i>
                    }
                    else
                    {
                        @vorto.Fonto.Titolo
                        <NavLink href=@(vorto.Fonto.Ligilo)>🡺</NavLink>
                    }
                </p>
                <h4>Radikoj</h4>
                @if(vorto.Teksto is not null)
                {
                    <p>Ĉi tiu vorto estas bazvorto, ĝi ne enhavas radikojn krom si mem.</p>
                }
                else
                {
                    <MudExpansionPanels>
                        @foreach (var item in vorto.Radikoj.OrderBy(r=>r.Ordo))
                        {
                            <MudExpansionPanel Disabled=malebligiPanelojn>
                                <TitleContent>
                                    @RadikaString(item.RadikaVorto.Teksto!)
                                    <MudIconButton Href=@($"/vorto/{item.RadikaVortoId}") Icon=@Icons.Filled.ReadMore/>
                                </TitleContent>
                                <ChildContent>
                                    <VortoDetail Id=item.RadikaVortoId/>
                                </ChildContent>
                            </MudExpansionPanel>
                        }
                    </MudExpansionPanels>
                }
            </MudTabPanel>
            <MudTabPanel Text="Difinoj">
                <EnhavoListoj Enhavoj=vorto.Difinoj Suprigu=Suprigu Malsuprigu=Malsuprigu Sendi=@(s=>SendiEnhavo<Difino>(s)) />
            </MudTabPanel>
            <MudTabPanel Text="Tradukoj">               
                <EnhavoListoj Enhavoj=@(vorto.Tradukoj.Where(t=>t.LingvoId == Lingvo)) Suprigu=Suprigu Malsuprigu=Malsuprigu Sendi=@(s=>SendiEnhavo<Traduko>(s)) />
            </MudTabPanel>
            <MudTabPanel Text="Ekzemploj">                 
                <EnhavoListoj Enhavoj=vorto.Ekzemploj Suprigu=Suprigu Malsuprigu=Malsuprigu Sendi=@(s=>SendiEnhavo<Ekzemplo>(s)) />
            </MudTabPanel>
        </MudTabs>        
    }
</div>


